# Virtual environments
.venv/
env/
venv/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.idea/
.vscode/

# OS hidden files
.DS_Store
Thumbs.db
